body {
    background-color: bisque;
}

#page {
    display: flex;
    flex-wrap: wrap;

}

#notecard table {
    max-width: 270px;
    margin: auto;
}

#notecard {
    flex: 1 1 50%;
}

@media (max-width: 1000px) {
    #notecard, #questions {
        flex: 1 1 100%
    }
}

#notecard td, th, table {
    border: 2px solid black;
    border-collapse: collapse;
}

#notecard thead th{
    width: 20px; 
}

#notecard tbody th{
    width: 150px; 
    text-align: left;
}

#movementObtaining {
    flex: 1 1 50%;
    position: relative;
}


#movementObtaining button {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 20px;
}
#questions ul{
    list-style-type: none;
    padding: 0%;
}

#questions li{
    text-align: left;
}

#questions p, h3 {
    text-align: center;
}

#questions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#q1, #q2, #q3 {
    flex: 1 1 33%
}

@media (max-width: 700px) {
    #q1, #q2, #q3 {
        flex: 1 1 100%
    }

    #questions li{
        margin-left: 40%
    }
}