body {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    background-color: bisque;
}

#notecard table {
    align-content: center;
    max-width: 270px;
}

#notecard {
    flex: 1 1 50%;
}

#questions {
    flex: 1 1 50%;
}

@media (max-width: 1000px) {
    #notecard, #questions {
        flex: 1 1 100%
    }
}

#notecard td, th, table {
    border: 2px solid black;
    border-collapse: collapse;
}

#notecard thead th{
    width: 20px; 
}

#notecard tbody th{
    width: 150px; 
    text-align: left;
}

#questions ul{
    list-style-type: none;
    padding: 0%;
}

#questions li{
    text-align: left;
}

#questions p, h3 {
    text-align: center;
}

#question button {

}

#questions {
    min-width: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#q1, #q2, #q3 {
    flex: 1 1 33%
}

@media (max-width: 500px) {
    #q1, #q2, #q3 {
        flex: 1 1 100%
    }

    #questions li{
        margin-left: 40%
    }
}